@media (max-width: 550px){
.tarjetona{
    width: 300px
}
}

.tarjetona{
    margin-top: 5rem;
    padding: 2rem;
}


@media (max-width: 350px){
    .tarjetona{
        width: 200px;
        
    }
    }