.bi-cart{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
    color: black;
    width: 5rem;
    height: 5rem;
}

.container{
    display: flex;
    text-align: center;
}

.numero{
    text-decoration: none;
    color: black;
}