.card-img-top{
    height: 300px;
    width: 300px;
}

@media (max-width: 850px){
    .card-img-top{
        height: 150px;
    width: 150px;
    }
}

@media (max-width: 570px){
    .card-img-top{
        height: 100px;
    width: 100px;
    }
}

@media (max-width: 400px){
    .card-img-top{
        height: 50px;
    width: 50px;
    }
}