.tarjeta{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dinero{
    border-radius: 5px;
    background-color: green;
}