.card{
    width: 430px;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   .contenedor{
       width:100%;
       height: 100%px;
   }
   
   .imagen{
   width: 100%;
   }